label,
footer {
    font-family: sans-serif;
}

.titreDD {
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    border-radius: 5px;
}

.choix_theme {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    background-color:white;
    border-bottom: solid 5px #1EA1FF;
}

hr.inter_theme {
    width: 20%;
    margin: 10px auto;
}

hr.inter_section {
    margin: 50px auto;
    width: 40%;
}

.questions {
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    
    width: 40%;
    height: 20vh;
    background-color:white;
    border-bottom: solid 5px #1EA1FF;
}

.icone img {
    width: 200px;
    position: fixed;
    top: 10;
    left: 0;
}

.icone2 img {
    width: 200px;
    position: fixed;
    top: 10;
    right: 0;
    transform:scaleX(-1);
}

body {
    background-color: rgb(245,245,245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quiz {
    padding: 10px;
    margin-bottom: 20px;
}
